<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Video Upload</title>
    <!-- Include Tailwind CSS -->
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <script src="https://unpkg.com/htmx.org@1.7.0"></script>
</head>
<body class="bg-gray-100 flex items-center justify-center min-h-screen">
<div class="container mx-auto p-6">
    <!-- Navigation Menu -->
    <nav class="flex justify-between p-4">
        <div class="text-lg font-bold">Video Upload App</div>
        <div>
            <a href="/instagram-downloader" class="text-gray-500 font-semibold hover:text-gray-1000 hover:font-semibold">Instagram Downloader</a>
            <span class="mx-5">|</span>
            <a href="/auth/github" class="font-semibold text-purple-500 hover:text-purple-900">Log In</a>
            <span class="mx-2"></span>
            <a href="/logout" class="text-gray-500 hover:text-gray-9000">Log Out</a>
        </div>
    </nav>

    <!-- Upload Section-->
    <div class="bg-white shadow-lg rounded-lg p-6 mb-8">
        <h1 class="text-2xl font-bold mb-4 text-center">Upload and Manage Videos</h1>
        <form hx-post="/upload"
              hx-target="#videoTable tbody"
              hx-swap="beforeend"
              hx-encoding="multipart/form-data"
              method="post"
              enctype="multipart/form-data" class="space-y-4">

            <div id="drop-area" class="border-2 border-dashed rounded-xl border-purple-800 p-4 text-center mb-4 cursor-pointer">
                <p class="text-gray-600 text-center font-semibold pt-1">Drag & drop your video files here or click to select</p>
                <input type="file" name="video" accept="video/*" required class="hidden" id="fileElem">
                <p id="file-name" class="mt-2 text-gray-700"></p> <!-- This will show the name of the dropped file -->
            </div>

            <input type="text" name="title" placeholder="Rename your video!" required class="border rounded-md p-2 w-full">
            <input type="text" name="description" placeholder="Add a short description" required class="border rounded-md p-2 w-full">
            <input type="text" name="genre" placeholder="Choose a genre" required class="border rounded-md p-2 w-full">
<!--            <input type="file" name="video" accept="video/*" required class="border rounded-md p-2 w-full">-->
            <input type="submit" value="Convert" class="bg-purple-500 text-white rounded-md p-2 w-full cursor-pointer transition duration-900 ease-in-out transform hover:bg-purple-900 ">
        </form>
    </div>

    <!-- Uploaded Videos Section -->
    <div class="bg-white shadow-lg rounded-lg p-6">
        <h2 class="text-xl font-bold mb-4">Uploaded Videos</h2>
        <table id="videoTable" class="mt-4 w-full border border-collapse">
            <thead>
            <tr>
                <th class="border p-2 text-left">Title</th>
                <th class="border p-2 text-left">Description</th>
                <th class="border p-2 text-left">Genre</th>
                <th class="border p-2 text-left">Upload Date</th>
                <th class="border p-2 text-left">Actions</th>
            </tr>
            </thead>
            <tbody>
            {{range .}}
            <tr>
                <td class="border p-2">{{.Title}}</td>
                <td class="border p-2">{{.Description}}</td>
                <td class="border p-2">{{.Genre}}</td>
                <td class="border p-2">{{.UploadDate}}</td>
                <td class="border p-2">
                    <a href="/download?id={{.ID}}" class="rounded-lg border-solid border-2 border-purple-500 pl-3 pr-3 pb-1 pt-1 text-purple-500 font-semibold transition duration-900 ease-in-out transform hover:bg-purple-500 hover:text-white hover:border-slate-400">Download</a>
                    <form action="/delete" method="post"
                          hx-trigger="submit"
                          hx-target="closest tr"
                          hx-swap="innerHTML" style="display:inline;">
                        <input type="hidden" name="id" value="{{.ID}}">
                        <input type="submit" value="Delete" class="pl-3 pr-3 bg-transparent font-medium cursor-pointer">
                    </form>
                </td>
            </tr>
            {{end}}
            </tbody>
        </table>
    </div>
</div>
<script src="/Front/upload.js"></script>
</body>
</html>
